<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.free.app.spp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAM_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!--<activity-->
            <!--android:name=".NaviActivity"-->
            <!--android:label="@string/title_activity_navi">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name="com.free.app.spp.NaviActivity"/>
        <activity android:name="com.free.app.spp.PlayerActivity" />
        <activity android:name="com.free.app.spp.ArrangeActivity" />
        <activity android:name="com.free.app.spp.DataActivity" />
        <activity android:name="com.free.app.spp.StaffActivity" />
        <activity android:name="com.free.app.spp.TeamActivity" />
        <activity android:name="com.free.app.spp.MatchActivity" />
        <!--<activity android:name=".justloginregistertest.loginActivity"/>-->
        <activity
            android:name="com.free.app.spp.justloginregistertest.loginActivity"
            android:label=".justloginregistertest.loginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.free.app.spp.justloginregistertest.RegisterActivity"/>
        <activity android:name="com.free.app.spp.justloginregistertest.modiActivity"/>
    </application>

</manifest>